exportClasses(Complist, Parameters, PepID, QC)
exportMethods(evalID, plotFragment, setOutlier, getChrom, setFolder, outlier, modelPCA, modelCaret, predictCaret, plotScore, plotStat, editSampleinfo, sampleInfo, sampleNames, filterAnova, filterNZV, filterCor, plotCont, plotEval, getCont, plotData, plotChromatogram, plotRetcor, mergePepID, plotDendro, findOutlier, getFeature, plotHeat, getRaw, getPeplist, getMatch, getPeakinfo, getRawID, editPar, getBestmatch, reAnnotate, reFindPeaks, reGroup, reRTcorrect, reMatch, getMSnScan, saveQC, plotQC, getStatQC, modelQC, plotMDS, groupReport, pcaReport, peakReport, intensityReport, coverageReport, chromReport, sampleReport, plotSample, plotCoverage)
export(updateComplist)
export(complist)
export(testPar)
export(ggPair)
export(ggCorr)
export(convert2MGF)
export(convertData)
export(ggHeat)
export(parameters)
export(MSGFplus)
export(collateMSGFplus)
export(pepID)
export(loadQC)
export(addQCevent)
export(addQCfile)
export(removeQCfile)
export(QCfile)
export(createQC)
export(updateQC)
export(calcQC)
export(createComplist)
export(pepReport)
export(evalPar)
export(Qval)
export(pepMass)
export(peppI)
importFrom('graphics', plot)
exportMethods(plot, show, length)
import(methods)
import(ggplot2)
import(grid)
import(gridExtra)
import(reshape2)
import(plyr)
import(xcms)
exportMethods(plotEIC)
import(pcaMethods)
import(ggdendro)
import(OutlierD)
import(pcaPP)
import(RColorBrewer)
import(Biostrings)
import(caret)
import(xlsx)

